server:
  port: 9090

spring:
  r2dbc:
    url: r2dbc:postgresql://ep-lucky-morning-acv73iyp-pooler.sa-east-1.aws.neon.tech:5432/psychology?sslmode=require
    username: neondb_owner
    password: npg_kM0ICaT1ydAl

  webflux:
    cors:
      allowed-origins: "*"
      allowed-methods: "*"
      allowed-headers: "*"
      allow-credentials: false

springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  webjars:
    prefix: /webjars

logging:
  level:
    pe.edu.vallegrande: DEBUG
    org.springframework.r2dbc: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: /actuator
      cors:
        allowed-origins: "*"
        allowed-methods: "*"
        allowed-headers: "*"
  endpoint:
    health:
      show-details: always
      show-components: always
  health:
    db:
      enabled: true
